---
import '../../public/styles/global.css';
import AboutMe from '../components/AboutMe';
import Footer from '../components/Footer';
import Hero from '../components/Hero';
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Projects from '../components/Projects';
import TechCarousel from '../components/TechCarousel';
---

<script>
  document.documentElement.classList.add('loading'); 

  document.addEventListener("DOMContentLoaded", () => {
  setTimeout(() => {
    document.documentElement.classList.remove('loading'); 
    const loaderScreen = document.querySelector('.loader-screen');
    if (loaderScreen) {
      loaderScreen.classList.add('fade-out');
    }
  }, 16);
});
</script>

<!-- Pantalla de carga -->
<div class="loader-screen">
</div>

<Layout>
  <Navbar client:only="react" />
  <Hero client:only="react" />
  <TechCarousel client:only="react" />
  <AboutMe client:visible />
  <Projects client:visible /> 
  <Footer client:visible />
</Layout>